function cs () {
    cd "$@" && ll
}

function sfast () {
    cd ~/dev/fastai && conda activate fastai-cpu
    xdg-open http://course18.fast.ai/ml && jup
}


function crun(){
   gcc $1 -o ${1::-2} && ./${1::-2}
}

function cpprun(){
   g++ $1 -o ${1::-2} && ./${1::-2}
}


function spdf(){
   mkdir result_split_pdf
   pdftk $1 cat 1-$2 output result_split_pdf/first_half.pdf
   var=$((($2) + 1))
   pdftk $1 cat ${var}-end output result_split_pdf/second_half.pdf

}
function md(){
   mkdir $1 && cd $1
}
function ms(){
   echo "#!/bin/sh" >> $1
}

function condad(){
   conda env remove --name $1 && conda env list
}

function scssvpn(){
   cd ~/Downloads && sudo openvpn --config scss.ovpn 
}

function scssvm(){
    xfreerdp /f /u:$1@itserv /p:$2 /v:$3 

}

function gc(){
    IN=$1
    
    if git clone $1 
      then 
          dir=${IN##*/}

          cs ${dir%%.*}/  
  
      else 
          echo git clone failed

    fi
        

}
